/* Layout */

.container-full{
	width: 100%;
}
#container{
	width: 1390px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}

#contents{
	width: 1080px;
}

.point{
	color: $second !important;
}




