/* table */


table{ 
	border-top:2px solid $primary; 
	text-align:left;
	width: 100%;
	th{
		line-height: 1.6;
		border-bottom:1px solid $lineColor;
		//border-left:1px solid $lineColor; 
		padding:10px; 
		color:$textColor;
		font-weight: 700;
		background:$bgColor; 
		vertical-align:middle;
		text-align: center;
		//line-height: 18px;
  		font-size: 16px;
		min-height: 42px;
		&.cate{
			background: $primary;
			color: $white;
			text-align: center;
			border-bottom:1px solid #62677D;
		}
		&.left{
			text-align: left;
		}
		&.nobg{
			font-size: 14px;
			background: none;
		}
	}
	td{
		line-height: 1.6;
		border-bottom:1px solid $lineColor;
		//border-left:1px solid $lineColor;
		padding:5px 10px; 
		vertical-align:middle;
		//line-height: 18px;
		text-align: center;
		font-size: 14px;
		color: $textColor;
		height: 50px;
		.btn{
			min-width: 80px;
			height: 40px;
			border-radius: 10px;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			&.solid{
				background-color: $primary;
				color: $white;
			}
			&.stroke{
				border: 1px solid $primary;
				color: $primary
			}
		}
		&.state{
			font-weight: 700;
			&.done{
				color: $second;
			}
			&.fail{
				color: $red;
			}
		}
		a{
			font-weight: 700;
			text-decoration: underline;
		}
		&.left{
			text-align: left;
		}
		&.flex{
			align-items: center;
		}
		em{
			width: 30px;
			text-align: center;
			display: inline-block;
		}
	}
	th:first-child,td:first-child{
		border-left:none;
	}
	
	&.search-table{
		th{
			text-align: left;
			padding-left: 20px;
			height: 50px;
		}
	}
	&.resist{
		th,td{
			text-align: left;
		}
		.cate{
			text-align: center;
		}
	}
    tfoot{
        td{
            background:$bgColor;
        }
        &.red{
            td{
                color: $red;
            }
        }
    }
}





/******************************     TABLE SCROLL     ******************************/

.inner-scroll {
overflow-x: auto;
-webkit-overflow-scrolling: touch;
    table{
        table-layout: fixed;
    }
}

