/*   Main   */

@import "compass/css3";
@import "color";
@import "mixin";
@import "form";
@import "table";
@import "layout";
@import "lnb";
@import "modal";
@import "login";
@import "calendar";
 

h2{
	font-size: 30px;
    font-weight: 300;
	line-height: 1;
	color: $black;
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    p{
        font-size: 14px;
        color: $textColor;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid $lineColor;
    }
}
h3{
	font-size: 16px;
	line-height: 1.5;
	color: $textColor;
} 
h4{
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}


a{
    color: $second;
    text-decoration: underline;
    font-weight: 700;
} 

#paging{ 
	width:100%;
	margin-top:40px;
	text-align:center;
	.wrap{
		display: inline-block;
	}
	a{
		display:inline-block;
		width:30px;
		height:30px;
		vertical-align:middle;
		line-height:30px;
		text-align:center;
		font-size: 14px;
		color: $textColor;
		text-decoration: none;
	}
	a.on{
		color: $second;
		font-weight: 700;
	}
	a.l{
		width: 50px;
		height: 50px;
		border: solid 1px #454545;
		background:url("../_images/_board/icon-s-caret-left@2x.png") no-repeat center / 24px;
		text-indent: -9999px;
		border-radius: 100%;
		margin-right: 20px;
	}
	a.r{
		width: 50px;
		height: 50px;
		border: solid 1px #454545;
		background:url("../_images/_board/icon-s-caret-right@2x.png") no-repeat center / 24px;
		text-indent: -9999px;
		border-radius: 100%;
		margin-left: 20px;
	}
}

.col2flex{
	display: flex;
}
//button
.btn-top-wrap{
	display: flex;
	justify-content: flex-end;
	&.sample{
		height: 100vh;
		align-items: center;
		justify-content: center;
	}
	a{
		border-radius: 25px;
		width: 120px;
		display: block;
		text-align: center;
		line-height: 40px;
		font-size: 14px; 
		font-weight: 300;
		letter-spacing: -1px;
		color: $white;
        text-decoration: none;
		&:not(:first-child){
			margin-left: 10px;
		}
		&.pri{
			background-color: $second;
		}
		&.sec{
			background-color: $white;
			color: $second;
			border: 1px solid $second;
		}
		&.file{
			background-color: $primary;
		}
		&.dis{
			background-color: #979797;
		}
	}
}

.btn-con-wrap{
	display: flex;
	justify-content: center;
	a{
		display: block;
		width: 120px;
		border-radius: 25px;
		font-size: 16px;
		font-weight: 500;
		line-height: 50px;
		letter-spacing: -1.14px;
		text-align: center;
		color: $white;
        text-decoration: none;
		&:not(:first-child){
			margin-left: 10px;
		}
		&.pri{
			background-color: $second;			
		}
		&.dis{
			background-color: #979797;
		}
	}
}

.btn-btm-wrap{
	display: flex;
	justify-content: center;
    margin-top: 50px;
	a{
		display: block;
		width: 300px;
		line-height: 50px;		
		border-radius: 25px;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: -1.14px;
		text-align: center;
		color: $white;
        text-decoration: none;
		&:not(:first-child){
			margin-left: 10px;
		}
		&.pri{
			background-color: $second;
		}
		&.dis{
			background-color: #979797;
		}
		&.modalwidth{
			width: 200px;
		}
	}
}

.tab1-wrap{
	border-bottom: 1px solid #4866db;
	height: 40px;
	ul{
		display: flex;
		height: 40px;
		position: relative;
		z-index: 1;
		li{
			line-height: 40px;
			font-size: 16px;
			font-weight: 500;
			width: 80px;
			border-radius: 10px 10px 0 0;
			color: $textColor;
			text-align: center;
			border: solid 1px $lineColor;
			border-bottom: solid 1px #4866db;
			background-color: #f5f5f5;
			&.on{
				width: 180px;
				border: solid 1px #4866db;
				background-color: $white;
				color: $second;
				border-bottom: none;
			}
			a{
				display: block;
			}
		}
	}
}

.tab2-wrap{
	height: 40px;
	ul{
		display: flex;
		height: 40px;
		li{
			line-height: 30px;
			padding: 5px 10px;
			border-bottom: 1px solid $lineColor;
			color: #727f89;
			&.on{
				padding: 5px 10px;
				border-bottom: 1px solid $second;
				font-weight: 500;
				color: $second;
			}
			a{
				display: block;
			}
		}
	}
}

.popup-wrap{
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 280px;
	//height: 162px;
	border-radius: 20px 20px 25px 25px;
	box-shadow: 0 10px 20px -8px rgba(6, 16, 88, 0.5);
	background-color: #fff;
	z-index: 1;
	.title{
		text-align: center;
		margin-top: 30px;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: -0.68px;
		color: $black;
	}
	.text{
		margin-top: 20px;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -0.51px;
		text-align: center;
		color: $textColor;
	}
	.btn-popup{
		margin-top: 30px;
		display: flex;
		height: 40px;
		font-size: 14px;
		font-weight: 500;
		color: $white;
		line-height: 40px;
		text-align: center;
		.btn-cancel{
			width: 100%;
			border-radius: 0 0 20px 20px;
			&.half{
				width: calc(100% / 2);
				border-radius: 0 0 0 20px;
			}
			background-color: #979797;
		}
		.btn-ok{
			width: 100%;
			border-radius: 0 0 20px 20px;
			&.half{
				width: calc(100% / 2);
				border-radius: 0 0 20px 0;
			}
			background-color: $second;
		}
	}
	&.none-title{
		//height: 118px;
		.text{
			margin-top: 30px;
		}
	}
}



//Top-search-wrap

.top-search-wrap{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
    .wrap{
        border-radius: 20px;
        background: #f5f5f5;
        width: calc(100% - 110px);
        padding: 30px;
        text-align: center;
        position: relative;
        >div{
            display: inline-block;
            //width: 100%;
            .item{
                //width: 100%;
                margin-top: 10px;
                &.first{
                    margin-top: 0;
                }
                display: flex;
                align-items: center;
                .label{
                    font-size: 14px;
                    font-weight: 700;
                    margin-right: 20px;
                }
            }
            .expand-wrap{
                display: none;
            }
        }
        .expand{
            width: 60px;
            height: 30px;
            background: url("../_images/common/icon-s-caret-down@2x.png") no-repeat center #f5f5f5;
            background-size: 16px;
            border-radius: 0 0 15px 15px;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
        &.on{
            .expand{
                background-image: url("../_images/common/icon-s-caret-up@2x.png");
            }
        }
    }
    .search{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        background: url("../_images/common/icon-s-search-w@2x.png") no-repeat center $primary;
        background-size: 24px;
    }
    &.single-con{
        padding-bottom: 0;
        .expand{
            display: none;
        }
    }
}


//Tree

.tree-wrap{
    margin-top: 10px;
    display: flex;
    //justify-content: space-between;
}

#tree{
    width: 245px;
    margin-right: 30px;
    border-top: 2px solid #454545;
    border-bottom: 1px solid $lineColor;
    padding: 20px 10px;
    max-height: 400px;
    overflow: auto;
    ul{
        li{
            line-height: 30px;
            padding-left: 25px;
            background: url("../_images/common/form-tree-plus@2x.png") no-repeat left 5px;
            background-size: 20px;
            font-weight: 400;
            cursor: pointer;
            &.last{
                background-image: url("../_images/common/form-tree-dept@2x.png");
            }
            &.on{
                background-image: url("../_images/common/form-tree-minus@2x.png");
                >a{
                    color: $second;
                    font-weight: 700;
                }
            }
            ul{
                display: none;
            }
            a{
                text-decoration: none;
                color: $textColor; 
            }
        }
    }
    &.emp{
        ul{
            li.last{
                background-image: url("../_images/common/form-tree-man@2x.png");
            }
        }
    }
}

.board-top{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &.end{
        justify-content: flex-end;
    }
}