/*   Main   */
/* form */
.select-wrap { position: relative; height: 40px; }
.select-wrap select { width: 100%; /*padding: .58em .5em;  */ padding-left: 15px; font-family: inherit; border: 1px solid #dedede; background-size: contain; vertical-align: middle; height: 40px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #454545; }
.select-wrap:after { content: ""; width: 16px; height: 16px; position: absolute; top: 50%; transform: translateY(-50%); display: block; right: 15px; background: url("../_images/_form/icon-s-caret-down.png") no-repeat center; background-size: 16px; }

.search-wrap { position: relative; height: 40px; }
.search-wrap input[type="search"] { width: 100%; /*padding: .58em .5em;  */ padding-left: 15px; font-family: inherit; border: 1px solid #dedede; background-size: contain; vertical-align: middle; height: 40px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #454545; }
.search-wrap:after { content: ""; width: 16px; height: 16px; position: absolute; top: 50%; transform: translateY(-50%); display: block; right: 15px; background: url("../_images/common/icon-s-search.png") no-repeat center; background-size: 16px; }

select::-ms-expand { display: none; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 38px; height: 40px; text-indent: 10px; font-size: 14px; border: 1px solid #dedede; vertical-align: middle; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

textarea { width: 100%; height: 120px; padding: 10px; border: 1px solid #dedede; color: #454545; line-height: 18px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
input[type="radio"]:focus, input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }

input[type="radio"] + label, input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; color: #454545; min-width: 0; line-height: 20px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; margin-right: 20px; position: relative; }
input[type="radio"] + label:before, input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 20px; height: 20px; vertical-align: middle; margin-right: 10px; border: 1px solid #dedede; background: #fff; }
input[type="radio"] + label:last-of-type, input[type="checkbox"] + label:last-of-type { margin: 0; }

input[type="radio"] + label:before { border-radius: 100%; }

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before { background: url("../_images/_form/form_check@2x.png") no-repeat center #4866db; background-size: 15px; border: none; }

input[type="file"] { margin: 0px; border: 1px solid #dedede; height: 40px; width: 400px; border-radius: 10px; box-sizing: border-box; }

input[type="file"]::-webkit-file-upload-button { appearance: none; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; color: #fff; border: 0; background: #343f4e; line-height: 38px; height: 40px; margin: 0px; width: 100px; cursor: pointer; margin-right: 10px; font-size: 16px; font-weight: 700; }

/*.btn-input-file{
	width: 100px;
	background: $primary;
	color: $white;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	
}*/
input[type="file"]::-ms-value { border: 0; height: 40px; }

input[type="file"]::-ms-browse { color: #fff; border: 0; background: #343f4e; width: 100px; }

/*.filebox {
	.upload-name {
		height: 40px;
		vertical-align: middle;
		border: 1px solid $lineColor;
		width: 320px;
		color: $textColor;
		border-radius: 10px;
		padding-left: 10px;
	}
	label {
		//display: inline-block;
		padding: 10px 20px;
		color: #fff;
		vertical-align: middle;
		background-color: $primary;
		cursor: pointer;
		height: 40px;
		margin-left: 10px;
		border-radius: 10px;
	}
	input[type="file"] {
		position: absolute;
		width: 0;
		height: 0;
		padding: 0;
		overflow: hidden;
		border: 0;
	}
}*/
/* Layout */
.container-full { width: 100%; }

#container { width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; padding-bottom: 100px; }

#contents { width: 890px; }

#modal-wrap { width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 100; left: 0; top: 0; display: none; }
#modal-wrap .alert-wrap { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 0 20px 70px 20px; width: 280px; background: #fff; box-shadow: 0 10px 20px -8px rgba(6, 16, 88, 0.5); border-radius: 20px; }
#modal-wrap .alert-wrap .title { margin-top: 30px; text-align: center; font-size: 16px; font-weight: 700; letter-spacing: -0.68px; }
#modal-wrap .alert-wrap .text { font-size: 14px; color: #454545; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .alert-wrap .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .alert-wrap .modal-btn-wrap li { width: 100%; }
#modal-wrap .alert-wrap .modal-btn-wrap li.pri { background: #4866db; border-bottom-right-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li.sec { background: #454545; border-bottom-left-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li.full { background: #4866db; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap .modal-con { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; padding: 30px; border: solid 4px #3B405D; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#modal-wrap .modal-con .btn-close { display: block; width: 20px; height: 20px; position: absolute; top: 24px; right: 25px; background: url(../_images/common/icon-s-cross@2x.png) no-repeat center; background-size: 20px; text-indent: -9999px; }
#modal-wrap .modal-con .title { font-size: 16px; font-weight: 700; letter-spacing: -0.68px; color: #454545; }
#modal-wrap .modal-con .text { font-size: 14px; color: #454545; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .modal-con .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .modal-con .modal-btn-wrap li { width: 100%; }
#modal-wrap .modal-con .modal-btn-wrap li.pri { background: #4866db; border-bottom-right-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li.sec { background: #454545; border-bottom-left-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li.full { background: #4866db; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap .modal-aco { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; padding: 30px; border: solid 4px #3B405D; }
#modal-wrap .modal-aco .btn-close { display: block; width: 20px; height: 20px; position: absolute; top: 24px; right: 25px; background: url(../_images/common/icon-s-cross@2x.png) no-repeat center; background-size: 20px; text-indent: -9999px; }
#modal-wrap .modal-aco .acodion-wrap { max-height: 600px; overflow: auto; margin-top: 36px; border-top: solid 2px #3B405D; }
#modal-wrap .modal-aco .acodion-wrap .acodion { border-bottom: solid 1px #dedede; width: 600px; }
#modal-wrap .modal-aco .acodion-wrap .acodion .btn-aco { padding-left: 20px; width: 100%; position: relative; font-size: 14px; font-weight: 700; color: #454545; line-height: 40px; text-align: left; }
#modal-wrap .modal-aco .acodion-wrap .acodion .btn-aco:after { content: ""; top: 50%; right: 0; transform: translateY(-50%); width: 40px; height: 40px; position: absolute; background: url("../_images/common/icon-s-caret-down@2x.png") no-repeat center; background-size: 20px; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con { padding: 10px 0 0 20px; border-top: solid 1px #dedede; display: none; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con .flex { flex-wrap: wrap; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con .flex label { width: calc(100% / 3); margin: 0; margin-bottom: 10px; }
#modal-wrap .modal-aco .acodion-wrap .acodion.on .btn-aco:after { background-image: url("../_images/common/icon-s-caret-up@2x.png"); }
#modal-wrap .modal-aco .title { font-size: 16px; font-weight: 700; letter-spacing: -0.68px; color: #454545; }
#modal-wrap .modal-aco .text { font-size: 14px; color: #454545; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .modal-aco .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .modal-aco .modal-btn-wrap li { width: 100%; }
#modal-wrap .modal-aco .modal-btn-wrap li.pri { background: #4866db; border-bottom-right-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li.sec { background: #454545; border-bottom-left-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li.full { background: #4866db; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }

.modal-scroll { max-height: 300px; overflow: auto; }

#lnb { position: sticky; top: 0; width: 250px; height: 100vh; }
#lnb .con { position: absolute; top: 0; z-index: 1; }
#lnb .con .top { height: 120px; }
#lnb .con .top .icons { display: flex; padding-top: 32px; }
#lnb .con .top .icons li { margin-right: 15px; width: 24px; height: 24px; }
#lnb .con .top .icons li.home { background: url("../_images/common/icon-home.png") no-repeat center; }
#lnb .con .top .icons li.logout { background: url("../_images/common/icon-logout.png") no-repeat center; }
#lnb .con .top .icons li.mypage { background: url("../_images/common/icon-man.png") no-repeat center; }
#lnb .con .top .icons li a { display: block; width: 100%; height: 100%; }
#lnb .con .top .name { color: #454545; margin-top: 15px; font-size: 16px; }
#lnb .con .top .name strong { font-weight: 700; }
#lnb .con .top .log { margin-top: 10px; color: #454545; }
#lnb .con .menu { width: 250px; height: calc(100vh - 200px); background-color: #3B405D; border-radius: 0 50px 30px 40px; padding: 30px; }
#lnb .con .menu li { font-size: 16px; line-height: 40px; color: #dedede; font-weight: 300; }
#lnb .con .menu li.on { font-weight: 700; color: #fff; }
#lnb .bg { position: absolute; left: 0; top: 0; z-index: 0; width: 250px; height: calc(100vh - 200px); background-color: #f5f5f5; border-radius: 0 50px 30px 40px; }
#lnb:before { position: absolute; top: 0; right: 0; border-radius: 0 50px 30px 40px; content: ""; display: block; width: 50vw; background-color: #f5f5f5; height: calc(100vh - 200px); }

.main #lnb .bg { background: #f5f5f5; }
.main #lnb:before { background: #f5f5f5; }

.main { background: #f5f5f5; }

.main-title-wrap { display: flex; justify-content: space-between; align-items: center; margin-top: 60px; margin-bottom: 20px; }
.main-title-wrap .title { font-size: 20px; }
.main-title-wrap .select-date { height: 24px; align-items: center; width: calc(100px * 3); }
.main-title-wrap .select-date li { color: #969696; font-weight: 700; text-align: center; cursor: pointer; line-height: 24px; }
.main-title-wrap .select-date li.on { color: #4866db; }
.main-title-wrap button { z-index: 10; width: 24px; height: 24px; background: url("../_images/common/icon-s-caret-left@2x.png") no-repeat center #f5f5f5; position: absolute; top: 0; }
.main-title-wrap button.swiper-button-next { left: 0; background-size: 24px; }
.main-title-wrap button.swiper-button-prev { right: 0; background-image: url("../_images/common/icon-s-caret-right@2x.png"); background-size: 24px; }

.flex { display: flex; justify-content: space-between; }
.flex.col4 div { width: calc((100% - 30px) / 4); }
.flex.col3 div { width: calc((100% - 20px) / 3); }
.flex.col2 div { width: calc((100% - 10px) / 2); }

.shadow-box { border-radius: 10px; box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2); background-color: #fff; padding: 20px; }

.main-top .shadow-box .title { font-size: 16px; letter-spacing: -0.47px; }
.main-top .shadow-box .number { margin-top: 35px; font-size: 24px; font-weight: 700; text-align: right; }
.main-top .shadow-box .number em { font-size: 16px; font-weight: 400; }

.main-mid .shadow-box, .main-bottom .shadow-box { padding: 30px; }
.main-mid .shadow-box .title, .main-bottom .shadow-box .title { font-size: 20px; text-align: center; letter-spacing: -0.59px; margin-top: 20px; }

.main-rank-wrap { display: flex; justify-content: space-between; }
.main-rank-wrap > div { width: 440px; }
.main-rank-wrap > div .shadow-box { border-top-left-radius: 0; padding: 30px; }
.main-rank-wrap > div .shadow-box .key { font-size: 16px; letter-spacing: -0.47px; }
.main-rank-wrap > div .shadow-box .value { font-size: 16px; letter-spacing: -0.47px; }
.main-rank-wrap > div .shadow-box .value strong { font-weight: 700; font-size: 30px; }
.main-rank-wrap > div .shadow-box .flex { width: 100%; }
.main-rank-wrap > div .shadow-box .flex .flex { align-items: flex-end; }
.main-rank-wrap > div .shadow-box .flex .flex:last-child { border-left: 1px solid #dedede; }
.main-rank-wrap > div .list-sac { display: flex; justify-content: flex-end; margin-bottom: 10px; }
.main-rank-wrap > div .list-sac p { width: 82px; color: #454545; letter-spacing: -0.41px; text-align: center; }
.main-rank-wrap > div .list-wrap ul { display: flex; align-items: center; width: 100%; margin-bottom: 10px; }
.main-rank-wrap > div .list-wrap ul li { font-size: 16px; width: 215px; }
.main-rank-wrap > div .list-wrap ul li em { display: inline-block; width: 30px; height: 30px; color: #fff; font-size: 16px; font-weight: 700; text-align: center; line-height: 30px; border-radius: 100%; background: #969696; margin-right: 10px; }
.main-rank-wrap > div .list-wrap ul li:nth-child(2) { width: 82px; color: #33dc9e; text-align: center; margin-left: auto; }
.main-rank-wrap > div .list-wrap ul li:nth-child(3) { width: 82px; color: #4866db; text-align: center; margin-left: auto; }
.main-rank-wrap > div .list-wrap ul li.high em { background: #33dc9e; }
.main-rank-wrap > div .list-wrap ul:last-of-type { margin: 0; }
.main-rank-wrap > div.right .shadow-box { height: 487px; }
.main-rank-wrap > div.right .list-wrap li:nth-child(2) { width: 164px; color: #4866db; text-align: right; margin-left: auto; letter-spacing: -0.47px; }
.main-rank-wrap > div.right .list-wrap li:nth-child(2) span { color: #000; }
.main-rank-wrap > div.right .list-wrap li.high em { background: #4866db; }

.main-tab { display: flex; }
.main-tab li { width: 160px; line-height: 40px; font-size: 16px; font-weight: 700; color: #969696; background: #e9e9e9; border-radius: 10px 10px 0 0; text-align: center; cursor: pointer; }
.main-tab li.on { background: #fff; color: #4866db; }

.tab-wrap .tab-con { display: none; }
.tab-wrap .tab-con:first-of-type { display: block; }
