@charset "UTF-8";
/*   Main   */
/* form */
.select-wrap { width: 100%; position: relative; height: 40px; display: inline-block; 	/*&:after{
		content: "";
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		right: 15px;
		background: url("../_images/_form/icon-s-caret-down.png")no-repeat center;
		background-size: contain; //z-index: -1;
	}*/ }
.select-wrap select { width: 100%; padding-left: 15px; border: 1px solid #dedede; vertical-align: middle; height: 40px; border-radius: 10px; background: url("../_images/_form/icon-s-caret-down.png") no-repeat top 12px right 15px #fff; background-size: 16px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #454545; }

.input-btn { display: flex; }
.input-btn input[type="text"] { width: calc(100% - 130px); }
.input-btn button { margin-left: 10px; }

select::-ms-expand { display: none; }

input:disabled { background: #f5f5f5; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { display: inline-block; width: 100%; line-height: 38px; height: 40px; padding: 0 10px; font-size: 14px; letter-spacing: -0.59px; border: 1px solid #dedede; vertical-align: middle; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="text"].price, input[type="password"].price, input[type="tel"].price, input[type="email"].price { text-align: right; }

input:focus, textarea:focus { border: 1px solid #4866db; }

textarea { width: 100%; height: 120px; padding: 10px; border: 1px solid #dedede; color: #454545; line-height: 1.5; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
input[type="radio"]:focus, input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }

input[type="radio"] + label, input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 25px; cursor: pointer; color: #454545; min-width: 20px; min-height: 20px; line-height: 20px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; margin-right: 20px; position: relative; }
input[type="radio"] + label:before, input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 20px; height: 20px; vertical-align: middle; margin-right: 10px; border: 1px solid #dedede; background: #fff; }
input[type="radio"] + label:last-of-type, input[type="checkbox"] + label:last-of-type { margin: 0; }

input[type="radio"] + label:before { border-radius: 100%; }

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before { background: url("../_images/_form/form_check@2x.png") no-repeat center #4866db; background-size: 15px; border: none; }

input[type="file"] { width: 100%; margin: 0px; border: 1px solid #dedede; height: 40px; border-radius: 10px; box-sizing: border-box; }

/*
//1. 인풋 스타일 변경
.filebox .upload-name{
	display: inline-block; height: 40px; padding: 0 10px; vertical-align: middle; border: 1px solid #dddddd; width: 78%; color: #999999;
}
//2. label 스타일 변경
.filebox label { display: inline-block; padding: 10px 20px; color: #fff; vertical-align: middle; background-color: #999999; cursor: pointer; height: 40px; margin-left: 10px;
}
//3. 기존 디자인 없애기
.filebox input[type="file"] { position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;
}
*/
input[type="file"]::-webkit-file-upload-button { appearance: none; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; color: #fff; border: 0; background: #3b405d; line-height: 38px; height: 40px; margin: 0px; width: 100px; cursor: pointer; margin-right: 10px; font-size: 14px; letter-spacing: -0.59px; }

/*.btn-input-file{
	width: 100px;
	background: $primary;
	color: $white;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	
}*/
input[type="file"]::-ms-value { border: 0; height: 40px; }

input[type="file"]::-ms-browse { color: #fff; border: 0; background: #343f4e; width: 100px; }

/*.filebox {
	.upload-name {
		height: 40px;
		vertical-align: middle;
		border: 1px solid $lineColor;
		width: 320px;
		color: $textColor;
		border-radius: 10px;
		padding-left: 10px;
	}
	label {
		//display: inline-block;
		padding: 10px 20px;
		color: #fff;
		vertical-align: middle;
		background-color: $primary;
		cursor: pointer;
		height: 40px;
		margin-left: 10px;
		border-radius: 10px;
	}
	input[type="file"] {
		position: absolute;
		width: 0;
		height: 0;
		padding: 0;
		overflow: hidden;
		border: 0;
	}
}*/
.date-wrap { position: relative; /*&:after{ content: ""; position: absolute; width: 16px; height: 16px; background: url("../_images/common/btn-calendar@2x.png") no-repeat center; background-size: 16px; right: 10px; top: 50%; transform: translateY(-50%);
}*/ }
.date-wrap input[type="text"] { background: url("../_images/common/btn-calendar@2x.png") no-repeat top 12px right 15px #fff; background-size: 16px; }

/* Layout */
.container-full { width: 100%; }

#container { width: 1390px; margin: 0 auto; display: flex; justify-content: space-between; }

#contents { width: 1080px; padding-bottom: 100px; }

.point { color: #4866db !important; }

#loading { position: fixed; left: 50%; top: 50%; display: inline-block; width: 68px; height: 68px; background: url("../_images/common/loading@2x.png") no-repeat center; background-size: 68px; animation: spin 1s linear infinite; }

@keyframes spin { 100% { transform: rotate(360deg); } }
#modal-wrap { width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 100; left: 0; top: 0; display: none; }
#modal-wrap .alert-wrap { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 0 20px 70px 20px; width: 280px; background: #fff; box-shadow: 0 10px 20px -8px rgba(6, 16, 88, 0.5); }
#modal-wrap .alert-wrap .title { margin-top: 30px; text-align: center; font-size: 16px; font-weight: 700; letter-spacing: -0.68px; }
#modal-wrap .alert-wrap .text { font-size: 14px; color: #454545; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .alert-wrap .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .alert-wrap .modal-btn-wrap li { width: 100%; }
#modal-wrap .alert-wrap .modal-btn-wrap li.pri { background: #4866db; border-bottom-right-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li.sec { background: #454545; border-bottom-left-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li.full { background: #4866db; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap .modal-con { width: 500px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; padding: 30px; padding-bottom: 50px; border: solid 2px #454545; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#modal-wrap .modal-con.w800 { width: 800px; }
#modal-wrap .modal-con .modal-close { display: block; width: 40px; height: 40px; position: absolute; top: -1px; right: 0; background: url("../_images/common/icon-s-cross-w@2x.png") no-repeat center; background-size: 24px; background-color: #454545; text-indent: -9999px; }
#modal-wrap .modal-con .bottom-con { margin-top: 10px; border: 1px solid #dedede; padding: 10px; font-size: 14px; letter-spacing: -0.59px; color: #454545; line-height: 1.5; }
#modal-wrap .modal-con .bottom-con dt { margin-bottom: 20px; }
#modal-wrap .modal-con .bottom-con dd:not(:last-child) { margin-bottom: 20px; }
#modal-wrap .modal-con .title { margin-top: 22px; font-size: 20px; font-weight: 700; letter-spacing: -0.85px; color: #000; padding-bottom: 10px; border-bottom: 2px solid #454545; display: flex; justify-content: space-between; align-items: flex-end; }
#modal-wrap .modal-con .title span { font-weight: 400; font-size: 14px; }
#modal-wrap .modal-con .sub-title { margin-top: 30px; font-size: 16px; font-weight: 700; letter-spacing: -0.68px; color: #000; }
#modal-wrap .modal-con .box-sub-title { margin-top: 30px; border: 1px solid #dedede; line-height: 1.6; letter-spacing: -0.59px; color: #454545; background-color: #f5f5f5; padding: 10px; }
#modal-wrap .modal-con .box-sub-title strong { color: #4866db; font-weight: 700; }
#modal-wrap .modal-con .box-select-radio { width: 100%; margin-top: 20px; }
#modal-wrap .modal-con .box-select-radio .box-item { width: 100%; align-items: center; display: flex; justify-content: space-between; border-radius: 20px; border: solid 1px #dedede; padding: 20px; line-height: 20px; position: relative; cursor: pointer; }
#modal-wrap .modal-con .box-select-radio .box-item p { text-align: left; }
#modal-wrap .modal-con .box-select-radio .box-item.marbottom:not(:last-child) { margin-bottom: 10px; }
#modal-wrap .modal-con .box-select-radio .box-item.on { border-color: #4866db; color: #4866db; }
#modal-wrap .modal-con .box-select-radio .box-item.on:after { display: block; width: 20px; height: 20px; position: absolute; top: 50%; transform: translateY(-50%); right: 15px; content: ""; background: url("../_images/common/radio@2x.png") no-repeat center/20px; }
#modal-wrap .modal-con .text { font-size: 14px; color: #454545; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .modal-con .agree-wrap { margin-top: 10px; display: flex; justify-content: space-between; }
#modal-wrap .modal-con .agree-wrap .agree-title { font-size: 14px; font-weight: 500; letter-spacing: -0.59px; color: #454545; }
#modal-wrap .modal-con .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .modal-con .modal-btn-wrap li { width: 100%; }
#modal-wrap .modal-con .modal-btn-wrap li.pri { background: #4866db; border-bottom-right-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li.sec { background: #454545; border-bottom-left-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li.full { background: #4866db; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap .modal-aco { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; padding: 30px; border: solid 4px #3B405D; }
#modal-wrap .modal-aco .btn-close { display: block; width: 20px; height: 20px; position: absolute; top: 24px; right: 25px; background: url(../_images/common/icon-s-cross@2x.png) no-repeat center; background-size: 20px; text-indent: -9999px; }
#modal-wrap .modal-aco .acodion-wrap { max-height: 600px; overflow: auto; margin-top: 36px; border-top: solid 2px #3B405D; }
#modal-wrap .modal-aco .acodion-wrap .acodion { border-bottom: solid 1px #dedede; width: 600px; }
#modal-wrap .modal-aco .acodion-wrap .acodion .btn-aco { padding-left: 20px; width: 100%; position: relative; font-size: 14px; font-weight: 700; color: #454545; line-height: 40px; text-align: left; }
#modal-wrap .modal-aco .acodion-wrap .acodion .btn-aco:after { content: ""; top: 50%; right: 0; transform: translateY(-50%); width: 40px; height: 40px; position: absolute; background: url("../_images/common/icon-s-caret-down@2x.png") no-repeat center; background-size: 20px; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con { padding: 10px 0 0 20px; border-top: solid 1px #dedede; display: none; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con .flex { flex-wrap: wrap; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con .flex label { width: calc(100% / 3); margin: 0; margin-bottom: 10px; }
#modal-wrap .modal-aco .acodion-wrap .acodion.on .btn-aco:after { background-image: url("../_images/common/icon-s-caret-up@2x.png"); }
#modal-wrap .modal-aco .title { font-size: 16px; font-weight: 700; letter-spacing: -0.68px; color: #454545; }
#modal-wrap .modal-aco .text { font-size: 14px; color: #454545; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .modal-aco .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .modal-aco .modal-btn-wrap li { width: 100%; }
#modal-wrap .modal-aco .modal-btn-wrap li.pri { background: #4866db; border-bottom-right-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li.sec { background: #454545; border-bottom-left-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li.full { background: #4866db; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap.block { display: block; }

.modal-scroll { max-height: 80vh; overflow: auto; }

.code-wrap { margin-top: 20px; border-top: 2px solid #454545; }
.code-wrap .code-top { padding: 5px 0; display: flex; justify-content: space-between; border-bottom: 1px solid #dedede; }
.code-wrap .code-top button { width: 57px; height: 40px; background: #3B405D; color: #fff; border-radius: 10px; }
.code-wrap .code-body { padding-top: 5px; border-bottom: 1px solid #dedede; }
.code-wrap .code-body .item { display: flex; justify-content: space-between; padding-bottom: 5px; }
.code-wrap .code-body .item button { width: 57px; height: 40px; border: 1px solid #4866db; color: #4866db; border-radius: 10px; }

.dd-ui { width: 40px; height: 40px; background: url("../_images/common/icon-s-menu@2x.png") no-repeat center; background-size: 16px; border: 1px solid #454545; border-radius: 10px; }

#lnb { position: sticky; top: 0; width: 250px; height: 100vh; }
#lnb .con { position: absolute; top: 0; z-index: 1; }
#lnb .con .top { height: 179px; padding-top: 20px; }
#lnb .con .top .autobill_logo { width: 167px; height: 56px; background: url("../_images/common/auto-bill@2x.png") no-repeat center; background-size: 167px; }
#lnb .con .top .autobill_logo a { display: block; width: 100%; height: 100%; }
#lnb .con .top .icons { display: flex; }
#lnb .con .top .icons li { margin-right: 11px; width: 24px; height: 29px; }
#lnb .con .top .icons li.logout { background: url("../_images/common/icon-logout.png") no-repeat center; }
#lnb .con .top .icons li.mypage { background: url("../_images/common/icon-man.png") no-repeat center; }
#lnb .con .top .icons li.name { width: 74px; line-height: 29px; color: #454545; font-size: 20px; }
#lnb .con .top .icons li.name strong { font-weight: 700; }
#lnb .con .top .icons li a { display: block; width: 100%; height: 100%; }
#lnb .con .top .nice_group { margin-top: 20px; color: #4866db; font-size: 14px; line-height: 20px; font-weight: 700; }
#lnb .con .top .log { font-size: 16px; line-height: 24px; color: #969696; }
#lnb .con .menu { width: 250px; height: calc(100vh - 200px); background-color: #3B405D; border-radius: 0 50px 30px 40px; padding: 30px; }
#lnb .con .menu > ul > li { margin-bottom: 20px; }
#lnb .con .menu > ul > li > a { display: block; font-size: 16px; color: #dedede; padding-left: 30px; background: url("../_images/common/plus@2x.png") no-repeat left center; background-size: 20px; line-height: 20px; text-decoration: none; }
#lnb .con .menu > ul > li > a.on { background: url("../_images/common/minus@2x.png") no-repeat left center/20px; color: #fff; font-weight: 700; }
#lnb .con .menu > ul > li ul { padding: 10px 0 0 40px; display: none; }
#lnb .con .menu > ul > li ul li { margin: 0; }
#lnb .con .menu > ul > li ul li a { font-size: 14px; background: none; line-height: 30px; padding: 0; color: #dedede; font-weight: 400; text-decoration: none; }
#lnb .con .menu > ul > li ul li a.on { color: #fff; font-weight: 700; }
#lnb .bg { position: absolute; left: 0; top: 0; z-index: 0; width: 250px; height: calc(100vh - 200px); background-color: #f5f5f5; border-radius: 0 50px 30px 40px; }
#lnb:before { position: absolute; top: 0; right: 0; border-radius: 0 50px 30px 40px; content: ""; display: block; width: 50vw; background-color: #f5f5f5; height: calc(100vh - 200px); }

.main #lnb .bg { background: #f5f5f5; }
.main #lnb:before { background: #f5f5f5; }

.main { background: #f5f5f5; }

.flex { display: flex; justify-content: space-between; }
.flex.col4 div { width: calc((100% - 30px) / 4); }
.flex.col3 div { width: calc((100% - 20px) / 3); }
.flex.col2 div { width: calc((100% - 24px) / 2); }
.flex.justify-none { align-items: center; justify-content: flex-start; }

.shadow-box { border-radius: 10px; box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2); background-color: #fff; padding: 20px; }

.main-title-wrap { align-items: center; margin: 60px 0 12px 0; }
.main-title-wrap .title { font-size: 20px; letter-spacing: -0.59px; line-height: 29px; }
.main-title-wrap .right-unit { text-align: right; margin-right: 10px; font-size: 14px; letter-spacing: -0.41px; color: #000; }

.main-top { margin-top: 50px; }
.main-top .main-top-date { display: flex; align-items: center; justify-content: center; line-height: 59px; }
.main-top .main-top-date .top-title { font-size: 40px; font-weight: 700; letter-spacing: -1.18px; color: #000; }
.main-top .main-top-date .btn-left { margin-right: 10px; width: 40px; height: 40px; background: url("../_images/common/icon-s-caret-left@2x.png") no-repeat center/40px; }
.main-top .main-top-date .btn-right { margin-left: 10px; width: 40px; height: 40px; background: url("../_images/common/icon-s-caret-right@2x.png") no-repeat center/40px; }
.main-top .main-top-summoney { line-height: 40px; text-align: right; font-size: 24px; font-weight: 700; letter-spacing: -0.71px; color: #000; }
.main-top .main-top-summoney em { color: #4866db; }

.main-mid1 ul { display: flex; }
.main-mid1 ul li { cursor: pointer; width: 160px; height: 114px; background-color: #fff; border-radius: 10px; box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2); }
.main-mid1 ul li .box-title { margin: 11px 0 0 15px; font-size: 16px; letter-spacing: -0.47px; color: #000; line-height: 1.5; }
.main-mid1 ul li .box-count { text-align: right; margin: 29px 15px 0 0; font-weight: 700; font-size: 24px; color: #4866db; letter-spacing: -0.71px; }
.main-mid1 ul li .box-count em { font-size: 16px; line-height: 36px; font-weight: 400; color: #000; }
.main-mid1 ul li .box-count.color-black { color: #000; }
.main-mid1 ul li:hover { background-color: #4866db; }
.main-mid1 ul li:hover .box-title { color: #fff; }
.main-mid1 ul li:hover .box-count { color: #fff; }
.main-mid1 ul li:hover .box-count em { color: #fff; }
.main-mid1 ul li:hover .box-count.color-black { color: #fff; }
.main-mid1 ul li:not(:last-child) { margin-right: 24px; }

.main-mid2 ul { display: flex; }
.main-mid2 ul li { cursor: pointer; width: 252px; height: 114px; background-color: #fff; border-radius: 10px; box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2); }
.main-mid2 ul li .box-title { margin: 11px 0 0 15px; font-size: 16px; letter-spacing: -0.47px; color: #000; line-height: 1.5; }
.main-mid2 ul li .box-count { text-align: right; margin: 29px 15px 0 0; font-weight: 700; font-size: 24px; color: #4866db; letter-spacing: -0.71px; }
.main-mid2 ul li .box-count em { font-size: 16px; line-height: 36px; font-weight: 400; color: #000; }
.main-mid2 ul li .box-count.color-black { color: #000; }
.main-mid2 ul li:hover { background-color: #4866db; }
.main-mid2 ul li:hover .box-title { color: #fff; }
.main-mid2 ul li:hover .box-count { color: #fff; }
.main-mid2 ul li:hover .box-count em { color: #fff; }
.main-mid2 ul li:not(:last-child) { margin-right: 24px; }

.wrap-1 .box-1 { padding: 30px; background-color: #fff; border-radius: 10px; box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2); }

.main-mid3 .wrapper { width: 100%; border-radius: 10px; box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2); padding: 27px 55px 30px 55px; background-color: #fff; }
.main-mid3 .wrapper ul { display: flex; align-items: center; }
.main-mid3 .wrapper ul.center { justify-content: center; }
.main-mid3 .wrapper ul li { margin-bottom: 20px; font-size: 14px; line-height: 20px; letter-spacing: -0.41px; text-align: right; margin-right: 20px; color: #454545; }
.main-mid3 .wrapper ul li.bar { width: 100%; display: flex; }
.main-mid3 .wrapper ul li.bar p { background-color: #4866db; line-height: 32px; font-size: 12px; text-align: center; color: #fff; }
.main-mid3 .wrapper ul li.bar p.right { background-color: #eaeff5; color: #454545; }
.main-mid3 .wrapper .legend { display: flex; justify-content: center; font-size: 14px; }
.main-mid3 .wrapper .legend p { margin-right: 20px; }
.main-mid3 .wrapper .legend p:before { display: inline-block; content: ""; width: 12px; height: 12px; margin-right: 5px; border-radius: 100%; }
.main-mid3 .wrapper .legend p.blue:before { background-color: #4866db; }
.main-mid3 .wrapper .legend p.gray:before { background-color: #eaeff5; }

.main-mid4 .wrap-1 { width: calc((100% - 24px)/2); }
.main-mid4 .wrap-1 .box-1 { padding: 20px 30px; width: 100%; height: 230px; }
.main-mid4 .wrap-1 .box-1 > div { display: flex; justify-content: space-between; }
.main-mid4 .wrap-1 .box-1 > div:not(:first-child) { margin-top: 10px; }
.main-mid4 .wrap-1 .box-1 ul { display: flex; align-items: center; height: 30px; }
.main-mid4 .wrap-1 .box-1 ul li { font-size: 16px; letter-spacing: -0.47px; color: #000; line-height: 1; }
.main-mid4 .wrap-1 .box-1 ul li.num { width: 30px; height: 30px; line-height: 30px; border-radius: 100%; background-color: #4866db; text-align: center; letter-spacing: -0.47px; font-weight: 700; color: #fff; margin-right: 10px; }
.main-mid4 .wrap-1 .box-1 ul li.gray { background-color: #969696; }
.main-mid4 .wrap-1 .box-1 ul li.green { background-color: #33dc9e; }
.main-mid4 .wrap-1 .box-1 ul li strong { font-weight: 700; }
.main-mid4 .wrap-1 .box-1 ul li strong.greenpoint { color: #33dc9e; }
.main-mid4 .wrap-1 .box-1 ul li em { display: inline-block; margin-left: 10px; padding-left: 10px; border-left: 1px solid #dedede; }
.main-mid4 .wrap-1 .box-1 p { font-size: 16px; letter-spacing: -0.47px; color: #000; line-height: 1; line-height: 30px; }
.main-mid4 .wrap-1 .box-1 p strong { font-weight: 700; }
.main-mid4 .wrap-1 .box-1 p strong.greenpoint { color: #33dc9e; }

.main-mid5 .wrap-1 { width: calc((100% - 24px - 24px) / 3); }
.main-mid5 .wrap-1 .box-1 { padding: 30px; width: 100%; min-height: 180px; }
.main-mid5 .wrap-1 .box-1 p { font-size: 16px; letter-spacing: -0.47px; line-height: 1.6; color: #000; text-decoration: underline; }
.main-mid5 .wrap-1 .box-1 p:not(:last-child) { margin-bottom: 10px; }

.main-mid .shadow-box, .main-bottom .shadow-box { padding: 30px; }
.main-mid .shadow-box .title, .main-bottom .shadow-box .title { font-size: 20px; text-align: center; letter-spacing: -0.59px; margin-top: 20px; }

.main-rank-wrap { display: flex; justify-content: space-between; }
.main-rank-wrap > div { width: 440px; }
.main-rank-wrap > div .shadow-box { border-top-left-radius: 0; padding: 30px; }
.main-rank-wrap > div .shadow-box .key { font-size: 16px; letter-spacing: -0.47px; }
.main-rank-wrap > div .shadow-box .value { font-size: 16px; letter-spacing: -0.47px; }
.main-rank-wrap > div .shadow-box .value strong { font-weight: 700; font-size: 30px; }
.main-rank-wrap > div .shadow-box .flex { width: 100%; }
.main-rank-wrap > div .shadow-box .flex .flex { align-items: flex-end; }
.main-rank-wrap > div .shadow-box .flex .flex:last-child { border-left: 1px solid #dedede; }
.main-rank-wrap > div .list-sac { display: flex; justify-content: flex-end; margin-bottom: 10px; }
.main-rank-wrap > div .list-sac p { width: 82px; color: #454545; letter-spacing: -0.41px; text-align: center; }
.main-rank-wrap > div .list-wrap ul { display: flex; align-items: center; width: 100%; margin-bottom: 10px; }
.main-rank-wrap > div .list-wrap ul li { font-size: 16px; width: 215px; }
.main-rank-wrap > div .list-wrap ul li em { display: inline-block; width: 30px; height: 30px; color: #fff; font-size: 16px; font-weight: 700; text-align: center; line-height: 30px; border-radius: 100%; background: #969696; margin-right: 10px; }
.main-rank-wrap > div .list-wrap ul li:nth-child(2) { width: 82px; color: #33dc9e; text-align: center; margin-left: auto; }
.main-rank-wrap > div .list-wrap ul li:nth-child(3) { width: 82px; color: #4866db; text-align: center; margin-left: auto; }
.main-rank-wrap > div .list-wrap ul li.high em { background: #33dc9e; }
.main-rank-wrap > div .list-wrap ul:last-of-type { margin: 0; }
.main-rank-wrap > div.right .shadow-box { height: 487px; }
.main-rank-wrap > div.right .list-wrap li:nth-child(2) { width: 164px; color: #4866db; text-align: right; margin-left: auto; letter-spacing: -0.47px; }
.main-rank-wrap > div.right .list-wrap li:nth-child(2) span { color: #000; }
.main-rank-wrap > div.right .list-wrap li.high em { background: #4866db; }

.main-tab { display: flex; }
.main-tab li { width: 160px; line-height: 40px; font-size: 16px; font-weight: 700; color: #969696; background: #e9e9e9; border-radius: 10px 10px 0 0; text-align: center; cursor: pointer; }
.main-tab li.on { background: #fff; color: #4866db; }

.tab-wrap .tab-con { display: none; }
.tab-wrap .tab-con:first-of-type { display: block; }
